[submodule "MocapAnything"]
	path = MocapAnything
	url = https://github.com/DMcClarence/MocapAnything.git
[submodule "4DAnyone"]
	path = 4DAnyone
	url = https://github.com/DMcClarence/4DAnyone.git
[submodule "GVHMR"]
	path = GVHMR
	url = https://github.com/DMcClarence/GVHMR.git
