[submodule "4DAnyone"]
	path = 4DAnyone
	url = https://github.com/DMcClarence/4DAnyone.git
[submodule "GVHMR"]
	path = GVHMR
	url = https://github.com/DMcClarence/GVHMR.git
[submodule "inputs/caltennis"]
	path = inputs/caltennis
	url = https://huggingface.co/datasets/S34085068/caltennis
