[submodule "cuda-miniconda/4DAnyone"]
	path = 4DAnyone
	url = https://github.com/DMcClarence/4DAnyone.git
[submodule "cuda-miniconda/GVHMR"]
	path = GVHMR
	url = https://github.com/DMcClarence/GVHMR.git
